<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>
        {{ title }} | {% block title %}Login{% endblock %}
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    {% block stylesheets %}
        <link href="{{ asset('assets/base/vendors/vendors.bundle.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/base/style.bundle.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
    <!--end::Base Styles -->
</head>
<!-- end::Head -->

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}{% endblock %}