{% extends 'site/base.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-xl-12">
            <!--Begin::Main Portlet-->
            <div class="m-portlet">
                <!--begin: Portlet Head-->
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Schedule successful done!
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">

                    </div>
                </div>
                <!--end: Portlet Head-->
                <!--begin: Form Wizard-->
                <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard"></div>
                <!--end: Form Wizard-->
            </div>
            <!--End::Main Portlet-->
        </div>
    </div>
{% endblock %}